/* Google Fonts & CDN Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.cdnfonts.com/css/mallong");
@import url("https://fonts.cdnfonts.com/css/signora");
@import url("https://fonts.cdnfonts.com/css/belinda-avenue");
@import url("https://fonts.cdnfonts.com/css/katty-diona");
@import url("https://fonts.cdnfonts.com/css/gillastone");
@import url("https://fonts.cdnfonts.com/css/bethanwhite");
@import url("https://fonts.cdnfonts.com/css/soul-note-display");
@import url("https://fonts.cdnfonts.com/css/the-hamstter");
@import url("https://fonts.cdnfonts.com/css/perfect-beloved");

/* Local Fonts */
@font-face {
  font-family: "DearScript";
  src: url("../assets/fonts/DearScript.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
